:root {
  //colors
  --primary-color: #0c164a;
  --white-color: #fff;
  --black-color: #000;
  --f5-white-color: #f5f5f5;
  --b3-gray-color: #b3b3b3;


  //containers
  --medium-container: 1300px;

  // Font-family
  --font-family: 'Montserrat', sans-serif;

  // Font-sizes
  --small-font: 12px;
  --medium-font: 14px;
  --primary-font: 16px;
  --mobile-heading-font: 18px;
  --big-font: 20px;
  --large-font: 24px;
  --special-big-font: 36px;

  // Font-weights
  --primary-font-weight: 400;
  --regular-font-weight: 500;
  --title-font-weight: 600;
  --medium-font-weight: 700;

  //shadows
  --button-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  --header-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --tabs-box-shadow: rgba(0, 0, 0, 0.1);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 320px;
  margin: 0;
  color: var(--primary-color);
/*   line-height: 1.5em;
 */}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

input,
button {
  outline: none;
}

#___gatsby {
  width: 100%;
}

#___gatsby > div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#___gatsby > div > div {
  flex: 1 0 100%;
}

.content {
  max-width: var(--medium-container);
  margin: 20px auto;
}

.fixed {
  position: fixed;
}

a {
  -webkit-tap-highlight-color: transparent;
}

h3 {
  font-size: var(--big-font);
}

.post-btn {
  padding: 10px 30px;
}
.btn {
  display: inline-block;
  font-size: var(--medium-font);
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;

  &-primary {
    color: var(--white-color);
    font-weight: var(--title-font-weight);
    background-color: var(--primary-color);
    border: none;
    box-shadow: var(--button-shadow);
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
}
