header {
  height: 60px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  max-width: var(--medium-container);
  margin: 0 auto;
}

.header-left-side,
.header-right-side {
  display: flex;
}

@media only screen and (min-width: 768px) {
  header {
    height: 75px;
    border-bottom: 1px solid var(--primary-color);

    .social-icons {
      display: none;
    }
  }
}
