.secondary-header {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  border-top: 1px solid var(--footer-links-color);
  margin-top: 60px;
  font-size: var(--medium-font);  
  list-style: none;


  & a {
    color: var(--footer-links-color);
    font-weight: var(--primary-font-weight);
    text-decoration: none;
  }
}

@media only screen and (min-width: 950px) {
  .secondary-header {
    display: none;
  }
}