.footer-contacts {
  display: block;
  border-bottom: 1px solid var(--footer-links-color);

  &-address-item {
    padding-left: 30px;
    position: relative;
    color: var(--footer-links-color);
    font-size: var(--small-font);

    &:before {
      position: absolute;
      top: 1px;
      left: 5px;
      width: 20px;
      height: 20px;
      background-image: url("../../assets/images/icons/map-tag.png");
      background-repeat: no-repeat;
      background-position: 50%;
      content: "";
    }
  }

  &-list {
    display: none;
    list-style: none;

    &-open {
      display: block;
    }
  }

  &-phone-item {
    padding-left: 35px;

    & a {
      position: relative;
      color: var(--footer-links-color);
      font-size: var(--small-font);
      text-decoration: none;

      &:before {
        position: absolute;
        left: -30px;
        width: 20px;
        height: 20px;
        background-image: url("../../assets/images/icons/phone-small.png");
        background-repeat: no-repeat;
        background-position: 50%;
        content: "";
      }
    }

    &:first-child {

      & a {
        font-size: var(--big-font);

        &:before {
          background-image: url("../../assets/images/icons/phone-big.png");
        }
      }
    }
  }

  &-title {
    position: relative;
    margin: 25px 5px 5px;
    color: var(--footer-links-color);
    font-size: var(--medium-font);

    &:after {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 10px;
      height: 10px;
      border-color: var(--text-grey-color);
      border-style: solid;
      border-width: 0 1px 1px 0;
      transform: rotate(45deg);
      content: "";
      pointer-events: none;
    }
  }
}

@media only screen and (min-width: 950px) {
  .footer-contacts {
    border-bottom: none;

    &-title {

      &:after {
        display: none;
      }
    }

    &-list {
      display: block;
      padding-left: 5px;
    }
  }
}