.footer-menu {
  position: relative;
  border-bottom: 1px solid var(--footer-links-color);

  &-link {
    color: var(--footer-links-color);
    font-size: var(--small-font);
    text-decoration: none;
  }

  &-list {
    display: none;
    padding-left: 10px;
    margin: 0 auto 10px;
    list-style: none;

    &-open {
      display: block;
    }
  }

  &-title {
    position: relative;
    margin: 25px 5px 5px;
    color: var(--footer-links-color);
    font-size: var(--medium-font);

    &:after {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 10px;
      height: 10px;
      border-color: var(--text-grey-color);
      border-style: solid;
      border-width: 0 1px 1px 0;
      transform: rotate(45deg);
      content: "";
      pointer-events: none;
    }
  }
}

@media only screen and (min-width: 950px) {
  .footer-menu {
    border-bottom: none;

    &-title {

      &:after {
        display: none;
      }
    }

    &-list {
      display: block;
      padding-left: 5px;
    }
  }
}