footer {
  width: 100%;
  background-color: var(--primary-color);
}

.footer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--medium-container);
  margin: 0 auto;
  padding: 20px;
  background-image: url('../../assets/images/illustrations/line-texture-mob.png');
  background-repeat: no-repeat;
  background-position: top right;
}

@media only screen and (min-width: 950px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
